body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Lato;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.crew {
  display: block;
  position: absolute;
  top: 224px;
  left: 53.328125%;
  z-index: 20;
  width: 6%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.divfooter {
  position: absolute;
  top: 793px;
  left: 10%;
  z-index: 1;
  width: 80%;
  min-width: none;
  height: 168px;
  min-height: nonepx;
  background-color: rgb(165, 206, 236);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.divheader {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 0;
  width: 80%;
  min-width: none;
  height: 202px;
  min-height: nonepx;
  background-color: rgb(166, 206, 236);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.hafen {
  display: block;
  position: absolute;
  top: 224px;
  left: 16.78125%;
  z-index: 17;
  width: 6%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.karte {
  display: block;
  position: absolute;
  top: 224px;
  left: 10.03515625%;
  z-index: 14;
  width: 6.798828125%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.karte:hover {
  color: rgb(252, 253, 255);
}

.crew:active,
.hafen:active,
.karte:active,
.log:active,
.navigation:active,
.radar:active,
.wetter:active,
.wind:active {
  color: rgb(0, 19, 48);
}

.kartehafenwetterradarwind {
  position: absolute;
  top: 224px;
  left: 10%;
  z-index: 2;
  width: 29.75%;
  min-width: none;
  height: 499px;
  min-height: nonepx;
  background-color: rgb(207, 226, 245);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.log {
  display: block;
  position: absolute;
  top: 224px;
  left: 49.2822265625%;
  z-index: 21;
  width: 6%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.logout {
  display: block;
  position: absolute;
  top: 161px;
  left: 80.3310546875%;
  z-index: 26;
  width: 8.416015625%;
  min-width: none;
  height: 33px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.logout:hover {
  background-color: rgb(222, 223, 222);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.maschine {
  position: absolute;
  top: 475px;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.maschineon {
  display: block;
  position: absolute;
  top: 479px;
  left: 84.0283203125%;
  z-index: 28;
  width: 5.75%;
  min-width: none;
  height: 20px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.maschinerpm {
  position: absolute;
  top: 542px;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.maschinetank {
  position: absolute;
  top: 507px;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.navigation {
  display: block;
  position: absolute;
  top: 224px;
  left: 41.166015625%;
  z-index: 19;
  width: 8.8330078125%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.navilogcrew {
  position: absolute;
  top: 224px;
  left: 41.16015625%;
  z-index: 3;
  width: 27%;
  min-width: none;
  height: 300px;
  min-height: nonepx;
  background-color: rgb(207, 226, 245);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.pheader {
  position: absolute;
  top: 114px;
  left: 10.080078125%;
  z-index: 9;
  width: 37.3330078125%;
  min-width: none;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1em;
  font-weight: 100;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.radar {
  display: block;
  position: absolute;
  top: 224px;
  left: 29.44921875%;
  z-index: 18;
  width: 6%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.radio {
  position: absolute;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.radiokanal {
  position: absolute;
  top: 629px;
  left: 73.06640625%;
  z-index: 22;
  width: 4.5830078125%;
  min-width: none;
  min-height: 36px;
  background-color: rgba(0, 0, 0, 0);
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.radioonoff {
  display: block;
  position: absolute;
  top: 603px;
  left: 83.916015625%;
  z-index: 27;
  width: 5.75%;
  min-width: none;
  height: 20px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.radiosprechen {
  display: block;
  position: absolute;
  top: 662px;
  left: 79.078125%;
  z-index: 23;
  width: 8.416015625%;
  min-width: none;
  height: 33px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.maschineon:hover,
.radioonoff:hover,
.radiosprechen:hover {
  background-color: rgb(165, 207, 239);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.logout:active,
.maschineon:active,
.radioonoff:active,
.radiosprechen:active {
  background-color: rgb(78, 161, 224);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.schiff {
  position: absolute;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.segel {
  position: absolute;
  top: 542px;
  left: 41.162109375%;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.segelbaum,
.segelreff,
.segelruder {
  position: absolute;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.wetter {
  display: block;
  position: absolute;
  top: 224px;
  left: 23.19921875%;
  z-index: 15;
  width: 6%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.crew:hover,
.hafen:hover,
.log:hover,
.navigation:hover,
.radar:hover,
.wetter:hover,
.wind:hover {
  color: rgb(255, 255, 255);
}

.wind {
  display: block;
  position: absolute;
  top: 224px;
  left: 34.69921875%;
  z-index: 16;
  width: 6%;
  min-width: none;
  height: 26px;
  min-height: nonepx;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 39, 99);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.wrapper {
  min-height: nonepx;
  overflow: hidden;
}

._html {
  position: absolute;
  top: 256px;
  min-width: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.maschine-1 {
  left: 69.5986328125%;
  z-index: 12;
  width: 10.732421875%;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.maschine-2 {
  left: 69.578125%;
  z-index: 6;
  width: 20.416015625%;
  height: 109px;
  min-height: nonepx;
  background-color: rgb(207, 226, 245);
}

.maschinerpm-1 {
  left: 69.5986328125%;
  z-index: 39;
  width: 7.421875%;
  min-height: 26px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.maschinetank-1 {
  left: 69.572265625%;
  z-index: 30;
  width: 7.421875%;
  min-height: 26px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.radio-1 {
  top: 602px;
  left: 69.578125%;
  z-index: 10;
  width: 9.0048828125%;
  min-height: 31px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.radio-2 {
  display: block;
  top: 649px;
  left: 72.982421875%;
  z-index: 8;
  width: 4.416015625%;
  height: 53px;
  min-height: nonepx;
  padding-left: 10px;
  border-style: none;
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-size: 1.25em;
  font-weight: 100;
  color: rgb(0, 39, 99);
}

.radio-2:hover {
  background-color: rgb(165, 207, 239);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.radio-2:active {
  background-color: rgb(78, 161, 224);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.radio-2:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  color: rgb(201, 222, 255);
}

.radio-3 {
  top: 602px;
  left: 69.5986328125%;
  z-index: 7;
  width: 20.416015625%;
  height: 121px;
  min-height: nonepx;
  background-color: rgb(207, 226, 245);
}

.schiff-2 {
  top: 224px;
  left: 69.572265625%;
  z-index: 13;
  width: 9.5048828125%;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.schiff-3 {
  top: 224px;
  left: 69.595703125%;
  z-index: 5;
  width: 20.416015625%;
  height: 235px;
  min-height: nonepx;
  background-color: rgb(207, 226, 245);
}

.segel-1 {
  z-index: 11;
  width: 9.6337890625%;
  min-height: 31px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.segel-2 {
  z-index: 4;
  width: 27%;
  height: 181px;
  min-height: nonepx;
  background-color: rgb(207, 226, 245);
}

.segelbaum-2 {
  top: 627px;
  left: 41.166015625%;
  z-index: 33;
  width: 9.6337890625%;
  min-height: 31px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.segelreff-2 {
  top: 678px;
  left: 41.16015625%;
  z-index: 34;
  width: 9.6337890625%;
  min-height: 31px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.segelruder-2 {
  top: 573px;
  left: 41.16015625%;
  z-index: 32;
  width: 9.6337890625%;
  min-height: 31px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.wrapper-1 {
  left: 75.1923828125%;
  z-index: 38;
  width: 13.75%;
  height: 26px;
}

.wrapper-2 {
  top: 677px;
  left: 46.58203125%;
  z-index: 37;
  width: 20.580078125%;
  height: 35px;
}

.wrapper-3 {
  top: 626px;
  left: 46.58203125%;
  z-index: 36;
  width: 20.580078125%;
  height: 35px;
}

.wrapper-4 {
  top: 574px;
  left: 46.58203125%;
  z-index: 35;
  width: 20.580078125%;
  height: 35px;
}

.wrapper-5 {
  top: 250px;
  left: 70.4970703125%;
  z-index: 31;
  width: 18.416015625%;
  height: 196px;
}

.wrapper-6 {
  left: 75.166015625%;
  z-index: 29;
  width: 13.75%;
  height: 26px;
}

.wrapper-7 {
  left: 42.1484375%;
  z-index: 25;
  width: 25.0166015625%;
  height: 258px;
}

.wrapper-8 {
  left: 10.830078125%;
  z-index: 24;
  width: 28.166015625%;
  height: 456px;
}

.maschinerpm span,
.maschinetank span,
.segelbaum span,
.segelreff span,
.segelruder span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 300;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 39, 99);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.pheader span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: 5em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 39, 99);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.maschine span,
.radio span,
.schiff span,
.segel span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 39, 99);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.radiokanal span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Lato;
  font-style: normal;
  font-size: inherit;
  font-weight: 300;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 39, 99);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 1600px) {
  .radio-2:active,
  .radio-2:focus,
  .radio-2:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .logout:active,
  .logout:hover,
  .maschineon:active,
  .maschineon:hover,
  .radioonoff:active,
  .radioonoff:hover,
  .radiosprechen:active,
  .radiosprechen:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .divfooter {
    top: 663px;
    left: 10.0588235294%;
  }
}

@media(max-width: 1200px) {
  .radio-2:active,
  .radio-2:focus,
  .radio-2:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .logout:active,
  .logout:hover,
  .maschineon:active,
  .maschineon:hover,
  .radioonoff:active,
  .radioonoff:hover,
  .radiosprechen:active,
  .radiosprechen:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  body {
    font-size: 1em;
  }

  .radioonoff {
    width: 6.5454545454%;
  }
}

@media(max-width: 1100px) {
  .radio-2:active,
  .radio-2:focus,
  .radio-2:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .logout:active,
  .logout:hover,
  .maschineon:active,
  .maschineon:hover,
  .radioonoff:active,
  .radioonoff:hover,
  .radiosprechen:active,
  .radiosprechen:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .radioonoff {
    width: 9.3203883495%;
  }
}

@media(max-width: 1030px) {
  .radio-2:active,
  .radio-2:focus,
  .radio-2:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  body {
    font-size: 1em;
  }

  .crew {
    left: 54.6859830097%;
  }

  .hafen {
    left: 17.557645631%;
  }

  .karte {
    width: 8.1553398058%;
  }

  .log {
    left: 50.6401699029%;
  }

  .navigation {
    width: 11.2621359223%;
  }

  .radiosprechen {
    width: 9.9029126213%;
  }

  .logout:active,
  .logout:hover,
  .maschineon:active,
  .maschineon:hover,
  .radioonoff:active,
  .radioonoff:hover,
  .radiosprechen:active,
  .radiosprechen:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .wetter {
    width: 7.1844660194%;
  }
}

@media(max-width: 700px) {
  .crew,
  .maschinetank-1 {
    width: 9.5714285714%;
  }

  .karte {
    width: 13.4285714285%;
  }

  .navigation {
    width: 17.4285714285%;
  }

  .radar {
    width: 10.4285714285%;
  }

  .radioonoff {
    width: 11%;
  }

  .radiosprechen {
    width: 13.2857142857%;
  }

  .logout:active,
  .logout:hover,
  .maschineon:active,
  .maschineon:hover,
  .radioonoff:active,
  .radioonoff:hover,
  .radiosprechen:active,
  .radiosprechen:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .hafen,
  .wetter {
    width: 11.1428571428%;
  }

  .wind {
    width: 8.2857142857%;
  }

  .radio-2 {
    width: 5.2857142857%;
  }

  .radio-2:active,
  .radio-2:focus,
  .radio-2:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .wrapper-2,
  .wrapper-3 {
    width: 24.7142857142%;
    height: 25px;
  }

  .wrapper-4 {
    width: 25%;
    height: 25px;
  }

  .wrapper-7 {
    width: 25%;
    height: 238px;
  }

  .wrapper-8 {
    width: 28.1428571428%;
    height: 434px;
  }

  .maschinetank span {
    font-weight: 100;
  }
}